table{
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
table img{
    width: 100px;
    height: 50px;
}
table .shorten{
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
    overflow-y: hidden;
}